.about-project {
	padding-top: 86px;
	font-size: $head3-font-size;
	line-height: $text-line-height;

	@include tablet {
		font-size: $base-tablet-font-size;
		line-height: $base-tablet-line-height;
		padding-top: 63px;
	}

	@include tablet-v {
		padding-top: 64px;
	}

	@include mobile-h {
		padding-top: 48px;
		font-size: $small-text-tablet-size;
		line-height: 19.6px;
	}
}

.about-project h1 {
	margin: 0;
	padding-bottom: 38px;

	@include mobile-h {
		padding-bottom: 25px;
	}
}

.about-project__description {
	margin: 0;
	font-size: $leed-font-size;
	line-height: $leed-line-height;

	@include tablet {
		font-size: $leed-mobile-font-size;
		line-height: $leed-mobile-line-height;
	}

	@include mobile-h {
		font-size: $head3-font-size;
		line-height: $text-line-height;
	}
}

.about-project__list {
	@include list-default-remove;
}

.about-project__item {
	margin-top: 78px;

	@include mobile-h {
		margin-top: 40px;
	}
}

.about-project h2 {
	margin: 0;
	padding-bottom: 18px;
}

.about-project__item p,
.about-project__order-list li {
	padding-right: 317px;

	@include tablet {
		padding-right: 241px;
	}

	@include tablet-v {
		padding-right: 79px;
	}

	@include mobile-h {
		padding-right: 0;
	}
}

.about-project__item p {
	margin: 0;
	margin-bottom: 19px;

	@include mobile-h {
		margin-bottom: 15px;
	}

	@include mobile {
		margin-bottom: 18px;
	}
}

.about-project__order-list {
	padding-left: 29px;

	@include mobile-h {
		padding-left: 20px;
	}
}

.about-project__order-list li {
	margin-bottom: 20px;

	@include tablet {
		margin-bottom: 16px;
	}

	@include mobile-h {
		margin-bottom: 15px;
	}

	@include mobile {
		margin-bottom: 16px;
	}
}

.about-project__contest {
	display: flex;
	flex-direction: row;
}

.about-project__contest p {
	margin: 0;
	flex-basis: 74%;
	padding: 0;
	@include tablet-v {
		flex-basis: 94%;
	}

	@include mobile-h {
		flex-basis: 77%;
		padding-bottom: 5px;
	}

	@include mobile {
		flex-basis: 100%;
		padding-right: 16px;
	}
}

.about-project__participants-number {
	padding-left: 40px;

	h2 {
		padding-bottom: 0;
	}

	@include tablet {
		padding-left: 32px;
	}

	@include mobile {
		display: none;
	}
}

.about-project__participants-number p {
	font-size: $base-font-size;
	line-height: $base-mobile-line-height;

	@include tablet {
		font-size: $small-text-tablet-size;
		line-height: $base-line-height;
	}

	@include tablet-v {
		padding-right: 18px;
	}

	@include mobile-h {
		font-size: $small-text-mobile-size;
		line-height: $small-text-mobile-height;
	}
}
