.button {
	outline: none;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 48px;
	font-weight: $semibold-font-weight;
	border-radius: 4px;
	padding: 14px 24px 15px;
	background-color: $base-grey;

	@include desktop {
		cursor: pointer;

		&:hover {
			opacity: 80%;
		}
	}
}

.button__close {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	outline: none;
	border: 1px solid $black;
	background-color: $white;
	position: absolute;
	top: 0;
	right: 0;
	transform: translate3d(-23%, 23%, 0);

	&::before,
	&::after {
		position: absolute;
		content: "";
		width: 17px;
		height: 2px;
		background-color: $black;
		top: 45%;
		left: 21%;
		z-index: 4;
	}

	&::before {
		transform: rotate(-45deg);
	}

	&::after {
		transform: rotate(45deg);
	}
}
