.create-password {
	max-width: 760px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 47px;
	padding-bottom: 6px;

	@include tablet {
		padding-bottom: 3px;
	}

	@include mobile-h {
		max-width: 562px;
	}
}

.create-password__title {
	margin: 0;
	text-align: center;
}

.create-password__form {
	width: 360px;
	display: flex;
	flex-direction: column;

	@include tablet {
		width: 450px;
	}

	@include tablet-v {
		width: 354px;
	}

	@include mobile-h {
		width: 330px;
	}

	@include mobile {
		width: 100%;
	}
}

.create-password__button {
	margin-top: 17px;

	&--save {
		background-color: $base-pink;
	}

	&--back {
		@include link-default-remove;
	}
}
