.footer__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-height: 376px;
	padding-top: 34px;

	@include tablet {
		min-height: 409px;
		padding-top: 38px;
		padding-bottom: 36px;
	}

	@include mobile-h {
		min-height: 461px;
	}
}

.footer__heading,
.footer__links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer__heading {
	align-items: flex-start;
}

.footer__links {
	align-items: flex-end;
	margin-top: 22px;

	@include tablet {
		margin-top: 24px;
	}

	@include mobile-h {
		flex-direction: column;
		align-items: flex-start;
	}
}

.footer__list {
	@include list-default-remove;
	font-size: $head3-font-size;
	line-height: $text-line-height;
	color: $footer-grey;

	li {
		padding-top: 18px;
	}

	p {
		margin: 0;
	}

	@include tablet {
		padding-bottom: 7px;

		li {
			padding-top: 14px;
		}

		a {
			font-size: $base-tablet-font-size;
			line-height: $base-tablet-line-height;
		}
	}
}

.footer__wrapper a {
	@include link-default-remove;
}

.footer__link-scroll {
	min-height: 48px;
	background-color: $base-grey;

	@include tablet-v {
		margin-right: 7px;
	}
}

.footer__link-create {
	padding-right: 5px;

	@include tablet {
		padding-right: 11px;
	}

	@include mobile-h {
		margin-top: 32px;
	}
}
