.memorial-photo__list {
	@include list-default-remove;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	padding-top: 20px;
	column-gap: 40px;
	row-gap: 34px;
	padding-bottom: 80px;

	@include tablet {
		padding-top: 17px;
		row-gap: 26px;
		column-gap: 31px;
	}

	@include tablet-v {
		padding-top: 20px;
		row-gap: 23px;
		column-gap: 30px;
	}

	@include mobile-h {
		grid-template-columns: repeat(14, 1fr);
		column-gap: 20px;
		row-gap: 18px;
		padding-bottom: 35px;
	}

	@include mobile {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 11px;
		row-gap: 5px;
		padding-top: 48px;
	}
}

.memorial-photo li:first-of-type {
	grid-column: span 6;

	@include mobile-h {
		grid-column: span 7;
	}

	@include mobile {
		grid-column: span 1;
	}
}

.memorial-photo li:nth-of-type(2) {
	margin-top: 209px;
	grid-column: span 6;

	@include tablet {
		margin-top: 167px;
	}

	@include tablet-v {
		margin-top: 132px;
	}

	@include mobile-h {
		margin-top: 91px;
		grid-column: span 7;
	}

	@include mobile {
		grid-column: span 1;
		margin-top: 54px;
	}
}

.memorial-photo li:nth-of-type(3) {
	grid-column: span 5;

	@include mobile-h {
		grid-column: span 6;
		margin-right: 7px;
	}

	@include mobile {
		grid-column: span 1;
		margin-right: 26px;
	}
}

.memorial-photo li:nth-of-type(4) {
	margin-top: 60px;
	grid-column: span 5;

	@include tablet {
		margin-top: 48px;
	}

	@include tablet-v {
		margin-top: 39px;
	}

	@include mobile-h {
		grid-column: 7 / span 6;
		margin-top: 25px;
		margin-left: -6px;
	}

	@include mobile {
		grid-column: span 1;
		margin: 15px 50px 0 -26px;
	}
}

.memorial-photo li:nth-of-type(5) {
	grid-column: -1/5;
	justify-self: end;
	margin-top: -237px;

	@include tablet {
		grid-column: -1/8;
		margin-top: -196px;
	}

	@include tablet-v {
		margin-top: -148px;
	}

	@include mobile-h {
		grid-column: -1/9;
		justify-self: end;
		margin-top: -108px;
		margin-left: 6px;
	}

	@include mobile {
		grid-column: 2 / span 1;
		margin-top: -57px;
		margin-left: 24px;
	}
}

.memorial-photo li:nth-of-type(6) {
	grid-column: span 6;
	margin-top: -140px;

	@include tablet {
		margin-top: -113px;
	}

	@include tablet-v {
		margin-top: -92px;
	}

	@include mobile-h {
		grid-column: span 7;
		margin-top: -67px;
	}

	@include mobile {
		grid-column: span 1;
		margin-top: -37px;
	}
}

.memorial-photo li:nth-of-type(7) {
	grid-column: span 6;
	justify-self: end;
	margin-top: 114px;

	@include tablet {
		margin-top: 88px;
	}

	@include tablet-v {
		margin-top: 68px;
	}

	@include mobile-h {
		grid-column: span 7;
		margin-top: 44px;
	}

	@include mobile {
		grid-column: span 1;
		margin-top: 28px;
	}
}

.memorial-photo li:nth-of-type(8) {
	grid-column: span 12;
	justify-self: center;
	align-self: center;
	margin-top: 41px;
	margin-right: 100px;

	@include tablet {
		grid-column: 2 / span 9;
		margin-top: 31px;
		margin-right: 0;
	}

	@include tablet-v {
		grid-column: 2 / span 10;
		margin-top: 21px;
		margin-right: 65px;
	}

	@include mobile-h {
		grid-column: 2 / span 12;
		margin: 11px 50px 0 6px;
	}

	@include mobile {
		grid-column: 1 / span 2;
		margin: 9px 50px 0 25px;
	}
}

.memorial-photo li:nth-of-type(9) {
	grid-column: span 8;
	margin-top: 41px;

	@include tablet {
		margin-top: 27px;
	}

	@include tablet-v {
		margin-top: 24px;
	}

	@include mobile-h {
		grid-column: span 9;
		margin-top: 7px;
		margin-right: -12px;
	}

	@include mobile {
		grid-column: span 1;
		margin-top: 17px;
		margin-right: -51px;
	}
}

.memorial-photo li:nth-of-type(10) {
	grid-column: span 4;
	margin-top: 135px;

	@include tablet {
		margin-top: 101px;
	}

	@include tablet-v {
		margin-top: 83px;
	}

	@include mobile-h {
		grid-column: 10 / span 5;
		margin-top: 48px;
		margin-left: 13px;
	}

	@include mobile {
		grid-column: span 1;
		margin-left: 50px;
		margin-top: 41px;
	}
}

.memorial-photo li:nth-of-type(11) {
	grid-column: 2 / span 7;
	margin-top: -38px;

	@include tablet {
		margin-top: -33px;
	}

	@include tablet-v {
		margin-top: -28px;
	}

	@include mobile-h {
		grid-column: 2 / span 8;
		margin: -23px -11px 0 6px;
	}

	@include mobile {
		grid-column: span 1;
		margin: -11px -50px 0 25px;
	}
}

.memorial-photo p {
	margin: 0;
	padding-top: 12px;

	@include tablet {
		font-size: $small-text-tablet-size;
		line-height: $base-line-height;
		padding-top: 12px;
	}

	@include tablet-v {
		padding-top: 6px;
	}

	@include mobile-h {
		font-size: $small-text-mobile-size;
		line-height: $small-text-mobile-height;
	}

	@include mobile {
		padding-top: 1px;
	}
}
