.new-password {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 761px;
	padding-top: 191px;
	position: relative;

	&::before {
		position: absolute;
		content: "";
		background-image: url("../img/check-green.svg");
		background-repeat: no-repeat;
		background-size: cover;
		width: 120px;
		height: 120px;
		left: 50%;
		top: 0;
		transform: translate3d(-50%, 43%, 0);
	}

	@include tablet {
		padding-top: 176px;
		max-width: 617px;
		padding-bottom: 4px;

		&::before {
			width: 104px;
			height: 104px;
			transform: translate3d(-50%, 50%, 0);
		}
	}

	@include mobile-h {
		padding-top: 144px;
		max-width: 329px;
		padding-bottom: 4px;

		&::before {
			width: 72px;
			height: 72px;
			transform: translate3d(-50%, 70%, 0);
		}
	}

	@include mobile {
		max-width: 100%;
		// width: 100%;
	}
}

.new-password__title {
	margin: 0;
	text-align: center;
	padding-bottom: 28px;
}

.new-password__button {
	min-width: 360px;
	margin-top: 16px;

	&--enter {
		background-color: $base-pink;
	}

	&--back {
		@include link-default-remove;
	}

	@include tablet {
		min-width: 288px;
	}

	@include tablet-v {
		min-width: 354px;
	}

	@include mobile-h {
		min-width: 330px;
	}

	@include mobile {
		min-width: 290px;
	}
}
