.page {
  background-color: $white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h2 {
	@include font-options($family-neutral, $title-mobile-font-size, $title-mobile-line-height, $bold-font-weight, $black);
	text-transform: uppercase;
}
