.pop-up__content {
	width: 760px;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate3d(-50%, 50%, 0);
	border: 1px solid $black;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 40px 30.5px 0 40px;
	z-index: 5;
	background-color: $white;
}

.pop-up__logo {
	margin-left: auto;
	transform: rotate(7.93deg);
	margin-top: -63px;
	margin-right: 22px;
	width: 142px;
	height: 117px;
}

.pop-up__title {
	margin: -58px 0 7px;
}

.pop-up__description {
	margin: 0;
	font-size: $head3-font-size;
	line-height: $text-line-height;
}
.pop-up__title > span {
	position: relative;

	&::before {
		position: absolute;
		content: "";
		top: 8px;
		left: 3px;
		background-image: url(../img/error.svg);
		background-repeat: no-repeat;
		width: 40px;
		height: 42px;
		z-index: 1;
	}
}

.pop-up__buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.pop-up__button {
	border-radius: 4px;
	background-color: $base-grey;
	margin-bottom: 16px;

	&--in {
		background-color: $base-pink;
		min-width: 96px;
		margin-right: 16px;
	}

	&--recovery {
		@include link-default-remove;
		min-width: 189px;
	}

	&--create {
		flex-grow: 1;
		width: 100%;
	}

	&--reset {
		min-width: 128px;
	}
}
