.promo__picture {
	min-height: 502px;
	margin-top: 50px;
	background-image: url("../img/promo.jpg");
	background-size: cover;
	background-color: $bg-promo;

	@include tablet {
		min-height: 402px;
		margin-top: 51px;
	}

	@include tablet-v {
		margin-top: 34px;
		min-height: 321px;
	}

	@include mobile-h {
		min-height: 220px;
	}

	@include mobile {
		margin-top: 26px;
		min-height: 290px;
	}
}

.promo__content {
	min-height: 220px;
	width: 500px;
	border: 1px solid $black;
	padding: 19px 25px;
	margin-top: -189px;
	margin-left: 15px;
	background-color: $white;

	h2,
	p {
		margin: 0;
	}

	h2 {
		padding-bottom: 11px;
	}

	p {
		padding-bottom: 32px;
		font-size: $head3-font-size;
		line-height: $text-line-height;
	}

	@include tablet {
		min-height: 207px;
		margin-top: -184px;
    margin-left: 18px;
		padding: 21px 22px;

		p {
			font-size: $base-tablet-font-size;
			line-height: $base-tablet-line-height;
		}
	}

	@include mobile-h {
		width: 322px;
		min-height: 186px;
		margin-top: -67px;
    margin-left: 7px;
		padding: 18px 15px;

		p {
			font-size: $small-text-mobile-size;
			line-height: $small-text-mobile-height;
			padding-bottom: 35px;
		}
	}

	@include mobile {
		width: 274px;
		margin-top: -37px;
	}
}

.promo__button {
	background-color: $base-pink;

	@include mobile {
		padding: 13px 23px 14px;
	}
}
