.restore--close {
	display: none;
}

.restore__content {
	min-height: 451px;
	justify-content: flex-start;

	@include tablet {
		min-height: 440px;
	}

	@include mobile-h {
		min-height: 349px;
	}
}

.restore__title {
	margin-right: 164px;

	@include mobile {
		margin-right: 27px;
	}
}

.restore__description {
	padding: 10px 138px 1px 0;

	@include tablet {
		padding: 12px 57px 1px 0;
	}

	@include mobile-h {
		padding-top: 8px;
	}

	@include mobile {

    padding-top: 2px;
padding-right: 8px;
	}
}

.restore__buttons {
	padding-top: 21px;

	@include tablet {
		padding-top: 25px;
	}

	@include mobile-h {
    padding-top: 27px;
	}
}

.restore__form {
	max-width: 301px;
}

.restore__button {
	margin-right: 15px;

	&--enter {
		background-color: $base-pink;
	}

	@include mobile {
		width: auto	;
	}
}

.restore__title > span {
	position: relative;
	z-index: 1;

	&::before {
		background-image: url(../img/error-c.svg);
		top: -21px;
		left: 50%;
		transform: translateX(-50%);
		width: 34px;
		height: 40px;
		z-index: 5;
		background-size: contain;
		@include mobile-h {
			width: 20px;
			height: 20px;
			top: -13px;
		}
	}
}
