// .scores {
// 	font-family: $family-neutral;
// 	font-weight: $bold-font-weight;
// 	font-size: $scores-font-size;
// 	line-height: 32px;
// 	display: inline-block;
// 	width: 32px;
// 	height: 32px;
// 	border-radius: 50%;
// 	text-align: center;
// 	vertical-align: bottom;
// 	background-color: $orange;
// 	margin-top: -3px;
// 	margin-left: -3px;
// 	position: relative;

// 	&::before {
// 		position: absolute;
// 		content: "";
// 		width: 28px;
// 		height: 28px;
// 		border: 2px solid black;
// 		border-radius: 50%;
// 		top: 50%;
// 		left: 50%;
// 		transform: translate3d(-50%, -50%, 10px);
// 	}
// }

.scores {
	font-family: $family-neutral;
	font-weight: $bold-font-weight;
	font-size: $scores-font-size;
	line-height: 12px;
	display: flex;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	background-color: $orange;
	position: relative;
	z-index: 4;

	&::before {
		position: absolute;
		content: "";
		width: 28px;
		height: 28px;
		border: 2px solid black;
		border-radius: 50%;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 10px);
	}
}
