.sign-in--close {
	display: none;
}

.sign-in__content {
	min-height: 544px;
	z-index: 5;
	background-color: $white;
}

.sign-in__title {
	margin-bottom: 15px;
}

.sign-in__title > span {
	&::before {
		top: 8px;
		left: 3px;
		background-image: url(../img/error.svg);
		width: 40px;
		height: 42px;
	}
}

.sign-in__wrapper {
	display: flex;
	flex-direction: row;
	// margin-top: 40px;
}

.sign-in__form {
	max-width: 301px;
	padding-bottom: 63px;
}

.sign-in__buttons {
	padding-top: 26px;
}

.sign-in__present {
	@include link-default-remove;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 247px;
	height: 266.5px;
	background-image: url("../img/box.png");
	background-position: bottom;
	background-repeat: no-repeat;
	margin-left: auto;
	align-self: flex-end;
	padding-bottom: 100px;

	h3 {
		margin: 0;
		font-size: $base-font-size;
		padding-bottom: 2px;
	}

	p {
		margin: 0;
		padding-bottom: 38px;
		padding-right: 34px;
	}
}
