	.sign-up--close {
		display: none;
	}

.sign-up__content {
	min-height: 728px;
	justify-content: flex-start;
	z-index: 5;
	background-color: $white;

	@include tablet {
		min-height: 708px;
	}

	@include mobile-h {
		min-height: 626px;
	}
}

.sign-up__title {
	margin-bottom: 21px;

	@include tablet {
		margin-bottom: 11px;
	}

	@include mobile-h {
		margin-bottom: 8px;
	}
}

.sign-up__title > span {
	&::before {
		background-image: url(../img/error-a.svg);
		top: -16px;
		left: -2px;
		width: 40px;
		height: 64px;
		background-size: contain;

		@include tablet {
			width: 28px;
			height: 54px;
		}

		@include mobile-h {
			width: 42px;
			height: 35px;
			top: -10px;
		}
	}
}

.sign-up__description {
	padding-right: 117px;

	span {
		display: inline-flex;
		vertical-align: middle;
		margin-top: -1px;
	}

	@include tablet {
		padding-right: 32px;
		padding-bottom: 17px;

		span {
			margin-top: -5px;
			margin-bottom: -5px;
		}
	}

	@include mobile-h {
		padding-bottom: 9px;
		span {
			margin-top: -4px;
			margin-bottom: -6px;
		}
	}

	@include mobile {
		padding-right: 0;
	}
}

.sign-up__form {
	max-width: 480px;
}

.sign-up__buttons {
	padding-top: 39px;

	@include tablet {
		padding-top: 41px;
	}
}

.sign-up__button {
	@include mobile {
		margin-bottom: 45px;
	}
}

.sign-up__button--create {
	background-color: $base-pink;
	margin-right: 12px;

	@include tablet {
		margin-right: 18px;
	}

	@include mobile {
		margin-right: 0;
	}
}

.sign-up__agreement {
	margin-top: 25px;

	@include mobile-h {
		margin-top: 21px;
	}
}
