.tests__wrapper {
	padding-top: 118px;

	@include mobile-h {
		padding-top: 78px;
	}
}

.tests h2 {
	margin: 0;
	padding-left: 7px;

	@include tablet {
		padding-left: 1px;
	}
}

.tests__list {
	margin-top: 26px;

	@include tablet {
		margin-top: 35px;
	}

	@include tablet-v {
		grid-template-columns: 1fr 1fr;
		margin-top: 34px;
		row-gap: 38px;
	}

	@include mobile-h {
		margin-top: 24px;
		row-gap: 26px;
	}

	@include mobile {
		grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
		row-gap: 22px;
	}
}

.tests__content {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 49px;
}

.tests__link {
	@include link-default-remove;
	background-color: $base-pink;
	margin-top: 42px;

	@include tablet {
		margin-top: 39px;
	}

	@include mobile-h {
		margin-top: 33px;
	}
}

.tests__item {
	margin-bottom: 42px;

	@include tablet {
		min-height: 432px;
		margin-bottom: 74px;
	}

	@include tablet-v {
		min-height: 480px;
		margin: 0;
	}

	@include mobile-h {
		min-height: 369px;
	}

	@include mobile {
		min-height: 407px;
	}
}

.tests__picture {
	object-fit: cover;
	width: 100%;
	height: auto;
}
