.user-gifts {
	margin-top: 104px;

	@include mobile-h {
		margin-top: 61px;
	}
}

.user-gifts__wrapper h2 {
	margin: 0;
	padding-top: 13px;

	@include tablet {
		padding-left: 6px;
	}

	@include mobile-h {
		padding-left: 0;
	}
}

.user-gifts__list {
	@include list-default-remove;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 38px;
	padding-top: 28px;
	padding-bottom: 3px;

	@include tablet {
		padding-top: 25px;
		gap: 27px;
	}

	@include tablet-v {
		grid-template-columns: 1fr;
		gap: 22px;
	}

	@include mobile-h {
		gap: 12px;
		padding-top: 15px;
	}
}

.user-gifts__item {
	display: flex;
	flex-direction: row;
	min-height: 124px;
	border: 1px solid $black;

	img {
		width: 154px;
		height: 100%;
		object-fit: cover;
	}

	@include tablet-v {
		img {
			width: 123px;
		}
	}

	@include mobile-h {
		img {
			width: 95px;
		}
	}

	@include mobile {
		min-height: 84px;
		align-items: center;

		img {
			width: 63px;
		}
	}
}

.user-gifts__description {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	padding: 24px 13px 17px;

	h3 {
		padding-bottom: 12px;
		font-size: $leed-mobile-font-size;
		line-height: $head3-line-height;
		margin: 0;
	}

	p {
		padding-bottom: 53px;
		margin: 0;
	}

	@include tablet {
		padding-bottom: 22px;

		h3 {
			font-size: $head3-tablet-font-size;
			line-height: $head2-mobile-line-height;
		}

		p {
			font-size: $small-text-tablet-size;
			line-height: $base-line-height;
		}
	}

	@include tablet-v {
		flex-grow: 1;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		padding-right: 21px;
		padding-bottom: 27px;
	}

	@include mobile-h {
		padding: 18px 15px 18px 11px;

		h3 {
			font-size: $base-font-size;
			line-height: $head3-mobile-height;
			padding-bottom: 8px;
		}

		p {
			font-size: $small-text-mobile-size;
			line-height: $small-text-mobile-height;
			padding-bottom: 10px;
		}
	}

	@include mobile {
		padding: 19px 11px 6px 8px;
	}
}

.user-gifts__get-present {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: auto;

	@include tablet-v {
		margin-top: 0;
	}

	@include mobile-h {
		padding: 24px;
		background-repeat: no-repeat;
		background-position: 50% 50%;

		span {
			display: none;
		}

		&--copy {
			background-image: url("../img/copy.svg");
		}

		&--get {
			background-image: url("../img/get.svg");
		}
	}
}
