.user-profile__wrapper {
	padding-top: 44px;

	@include mobile-h {
		padding-top: 25px;
	}

	@include mobile {
		padding-top: 26px;
	}
}

.user-profile__header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	padding-top: 4px;

	@include mobile-h {
		flex-direction: column;
	}

	@include mobile {
		flex-direction: row;
	}
}

.user-profile__header-content {
	display: flex;
	flex-direction: row;

	@include mobile-h {
		padding-top: 29px;
	}

	@include mobile {
		flex-direction: column;
		align-items: flex-start;
		padding: 0;
	}
}

.user-profile__picture-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 4px;
	padding-left: 7px;
	flex-shrink: 0;

	@include tablet {
		padding-left: 2px;
	}

	@include mobile {
		flex-direction: row;
	}
}

.user-profile__picture {
	width: 160px;
	height: 160px;
	border-radius: 50%;
	object-fit: cover;

	@include tablet {
		width: 130px;
		height: 130px;
	}

	@include mobile-h {
		width: 100px;
		height: 100px;
	}
}

.user-profile__total-scores {
	width: 88px;
	height: 88px;
	font-size: $head3-font-size;
	line-height: $head2-mobile-line-height;
	margin-top: -24px;
	outline: none;
	border: none;

	&::before {
		width: 80px;
		height: 80px;
	}

	@include tablet {
		margin-top: -30px;
	}

	@include mobile-h {
		width: 64px;
		height: 64px;
		font-size: $small-text-tablet-size;
		line-height: $small-text-mobile-height;
		margin-top: -23px;

		&::before {
			width: 56px;
			height: 56px;
		}
	}

	@include mobile {
		margin-top: -1px;
    margin-left: -25px;
	}
}

.user-profile__full-name {
	padding-left: 24px;
	display: flex;
	flex-direction: column;

	h2 {
		font-size: $title-font-size;
		line-height: $title-line-height;
		margin: 0;
	}

	p {
		margin: 0;
		font-size: $head3-font-size;
		line-height: $text-line-height;
		margin-left: -24px;
		padding-top: 24px;
	}

	@include tablet {
		padding-top: 7px;

		h2 {
			font-size: $title-tablet-font-size;
			line-height: $title-tablet-line-height;
		}

		p {
			padding-top: 19px;
			margin-left: -20px;
			font-size: $base-tablet-font-size;
			line-height: $base-tablet-line-height;
		}
	}

	@include tablet-v {
		padding-left: 15px;

		p {
			margin-left: -21px;
		}
	}

	@include mobile-h {
		padding-top: 15px;

		h2 {
			font-size: $leed-font-size;
			line-height: $head1-tablet-line-height;
		}

		p {
			font-size: $small-text-tablet-size;
			line-height: $base-line-height;
		}
	}

	@include mobile {
		padding-left: 0;

		p {
			display: none;
		}
	}
}

.user-profile__buttons {
	display: flex;
	flex-direction: row;
	margin-left: auto;
	padding-top: 11px;

	@include tablet {
		padding-top: 14px;
	}

	@include tablet-v {
		flex-direction: column;
		align-items: flex-end;
	}

	@include mobile-h {
		margin-left: 0;
		flex-direction: row;
		order: -1;
	}

	@include mobile {
		order: 0;
		padding-top: 4px;
	}
}

.user-profile__button--edit {
	@include link-default-remove;
	margin-left: auto;
	margin-right: 16px;

	@include tablet-v {
		margin-right: 0;
		margin-bottom: 18px;
	}

	@include mobile-h {
		margin-bottom: 0;
		margin-right: 13px;
	}

	@include mobile {
		margin-right: 12px;
	}
}

.user-profile__button {
	@include mobile {
		padding: 24px;
		background-repeat: no-repeat;
		background-position: 50% 50%;

		span {
			display: none;
		}

		&--edit {
			background-image: url("../img/edit.svg");
		}

		&--out {
			background-image: url("../img/log-off.svg");
		}
	}
}

.user-profile__list {
	@include list-default-remove;
	padding: 40px 0 0 7px;
	display: flex;
	flex-direction: column;

	@include tablet {
		padding-left: 2px;
	}
}

.user-profile__block {
	margin-bottom: 39px;

	@include mobile-h {
		margin-bottom: 45px;
	}
}

.user-profile__block--empty {
	padding-left: 40px;
	position: relative;

	& .user-profile__label {
		padding-bottom: 10px;
	}
}

.user-profile__label {
	font-size: $small-text-mobile-size;
	line-height: $small-label-height;
	color: $grey;
	margin: 0;
	padding-bottom: 8px;
}

.user-profile__item {
	margin: 0;
	font-size: $head3-font-size;
	line-height: $text-line-height;

	@include tablet {
		font-size: $base-tablet-font-size;
		line-height: $base-tablet-line-height;
	}

	@include mobile-h {
		font-size: $small-text-tablet-size;
		line-height: $base-line-height;
	}
}

.user-profile__scores {
	position: absolute;
	bottom: -10px;
	left: 0;
}

.user-profile__stepik {
	padding-top: 23px;
	padding-left: 4px;
}

.user-profile__link-account {
	min-width: 204px;
	background-color: $base-pink;
	position: relative;
	padding: 13px;

	&::before {
		position: absolute;
		content: "";
		background-image: url("../img/stepik.svg");
		background-repeat: no-repeat;
		right: -75px;
		top: 50%;
		transform: translate3d(0, -50%, 0);
		height: 22px;
		width: 87px;
	}
}
