html {
	@include font-options($family-inter, $base-font-size, $base-line-height, $medium-font-weight, $black);
  box-sizing: border-box;
  // overflow-x: hidden;

	@include tablet {
		font-size: $base-tablet-font-size;
		line-height: $base-tablet-line-height;
	}
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}
