//Color
$white: #ffffff;
$black: #000000;
$base-pink: #ffc7eb;
$base-grey: #e6e6e6;
$grey: #808080;
$orange: #ffaa20;
$green: #00df88;
$button-green: #00c97a;
$back-grey: #f2f2f2;
$footer-grey: #999999;
$invalid: #ff4000;

//Font
$family-neutral: "Neutral Face", "Roboto", sans-serif;
$family-inter: "Inter", "Roboto", sans-serif;
$family-cormorant: "Cormorant", "Times New Roman", serif;
$bold-font-weight: 700;
$semibold-font-weight: 600;
$medium-font-weight: 500;

//Size
$title-font-size: 64px;
$title-tablet-font-size: 48px;
$quote-tablet-font-size: 44px;
$title-mobile-font-size: 40px;
$leed-font-size: 32px;
$leed-tablet-font-size: 28px;
$leed-mobile-font-size: 24px;
$head3-font-size: 20px;
$head3-tablet-font-size: 22px;
$base-tablet-font-size: 18px;
$base-font-size: 16px;
$small-text-tablet-size: 14px;
$small-text-mobile-size: 12px;
$scores-font-size: 10px;

//line-height
$title-line-height: 76.8px;
$quote-line-height: 67.2px;
$quote-tablet-line-height: 61.6px;
$title-tablet-line-height: 57.6px;
$title-mobile-line-height: 48px;
$leed-line-height: 44.8px;
$leed-tablet-line-height: 39.2px;
$head1-tablet-line-height: 38.4px;
$leed-mobile-line-height: 33.6px;
$text-line-height: 28px;
$head3-line-height: 26.4px;
$base-tablet-line-height: 25.2px;
$head2-mobile-line-height: 24px;
$base-mobile-line-height: 22.4px;
$base-line-height: 19.6px;
$head3-mobile-height: 17.6px;
$small-text-mobile-height: 16.8px;
$small-label-height: 14px;
$scores-line-height: 32px;

// Viewports
$desktop-width: 1200px;
$tablet-h-width:1024px;
$tablet-width: 768px;
$mobile-h-width: 568px;
$mobile-width: 320px;

// Padding
$desktop-padding: 20px;
$tablet-padding: 45px;
$mobile-h-padding: 29px;
$tablet-v-padding: 15px;
