@charset "UTF-8";
@font-face {
  font-family: "Neutral Face";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/neutralface-bold.woff2") format("woff2"), url("../fonts/neutralface-bold.woff") format("woff"); }

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/inter-latin-700.woff2") format("woff2"), url("../fonts/inter-latin-700.woff") format("woff"); }

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/inter-latin-600.woff2") format("woff2"), url("../fonts/inter-latin-600.woff") format("woff"); }

@font-face {
  font-family: "Cormorant";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/cormorant-semiboldItalic.woff2") format("woff2"), url("../fonts/cormorant-semiboldItalic.woff") format("woff"); }

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/inter-medium.woff2") format("woff2"), url("../fonts/inter-medium.woff") format("woff"); }

html {
  font-family: "Inter", "Roboto", sans-serif;
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 500;
  color: #000000;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  margin: 0;
  height: 100%; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.page {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

h2 {
  font-family: "Neutral Face", "Roboto", sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase; }
  @media (max-width: 1199px) {
    h2 {
      font-size: 32px;
      line-height: 38.4px; } }
  @media (max-width: 767px) {
    h2 {
      font-size: 20px;
      line-height: 24px; } }

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px; }
  @media (max-width: 1199px) {
    .wrapper {
      padding-left: 45px;
      padding-right: 45px; } }
  @media (max-width: 1023px) {
    .wrapper {
      max-width: 960px;
      padding-left: 15px;
      padding-right: 15px; } }
  @media (max-width: 767px) {
    .wrapper {
      padding-left: 29px;
      padding-right: 29px; } }
  @media (max-width: 567px) {
    .wrapper {
      padding-left: 15px;
      padding-right: 15px; } }

.button {
  outline: none;
  border: none;
  display: inline-block;
  text-align: center;
  font-weight: 600;
  border-radius: 4px;
  padding: 14px 24px 15px;
  background-color: #e6e6e6; }
  @media (min-width: 1200px) {
    .button {
      cursor: pointer; }
      .button:hover {
        opacity: 80%; } }
  @media (max-width: 1199px) {
    .button {
      padding: 13px 24px 14px; } }

.button--close {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  outline: none;
  border: 1px solid #000000;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate3d(-23%, 23%, 0);
  padding: 0; }
  .button--close::before, .button--close::after {
    position: absolute;
    content: "";
    width: 17px;
    height: 2px;
    background-color: #000000;
    top: 45%;
    left: 21%;
    z-index: 4; }
  .button--close::before {
    transform: rotate(-45deg); }
  .button--close::after {
    transform: rotate(45deg); }

.scores {
  font-family: "Neutral Face", "Roboto", sans-serif;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #ffaa20;
  position: relative; }
  .scores::before {
    position: absolute;
    content: "";
    width: 28px;
    height: 28px;
    border: 2px solid black;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 10px); }

.header {
  width: 100%; }

.header__wrapper {
  display: flex;
  flex-direction: row;
  min-height: 81px;
  position: relative;
  border: 1px solid #000000;
  justify-content: flex-end;
  align-items: center;
  margin-top: 32px;
  padding-left: 130px; }
  @media (max-width: 1199px) {
    .header__wrapper {
      min-height: 70px;
      margin-top: 30px; } }
  @media (max-width: 767px) {
    .header__wrapper {
      min-height: 61px;
      margin-top: 25px; } }
  @media (max-width: 567px) {
    .header__wrapper {
      margin-top: 16px; } }

.header__logo {
  position: absolute;
  left: 0; }
  @media (max-width: 1199px) {
    .header__logo {
      width: 111.93px;
      height: 97.69px; } }
  @media (max-width: 767px) {
    .header__logo {
      width: 98.93px; } }

.header__button {
  min-width: 180px;
  min-height: 48px;
  background-color: #ffc7eb;
  margin-right: 16px; }
  .header__button--user-profile {
    min-width: 196px;
    padding-left: 39px;
    position: relative; }
    .header__button--user-profile::before {
      position: absolute;
      content: "";
      background-image: url("../img/user-logo.svg");
      background-repeat: no-repeat;
      top: 50%;
      left: 16px;
      width: 25px;
      height: 26px;
      transform: translate3d(0, -50%, 0); }
  @media (max-width: 1199px) {
    .header__button {
      margin-right: 7px; } }
  @media (max-width: 767px) {
    .header__button {
      display: none; } }

.header__toggle {
  position: relative;
  display: none;
  border: none;
  cursor: pointer;
  width: 48px;
  height: 48px;
  margin-right: 16px; }
  .header__toggle:active {
    opacity: 20%; }
  @media (max-width: 1199px) {
    .header__toggle {
      display: flex; } }
  @media (max-width: 767px) {
    .header__toggle {
      margin-right: 0; } }

@media (max-width: 1199px) {
  .header__icon,
  .header__icon::before,
  .header__icon::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 19px;
    height: 2px;
    background-color: #000000; } }

.header__icon::before,
.header__icon::after {
  content: "";
  transition: 0.3s; }

.header__icon::before {
  transform: translate(-50%, -7px); }

.header__icon::after {
  transform: translate(-50%, 5px); }

.navigation {
  display: flex;
  align-items: center; }
  @media (max-width: 1199px) {
    .navigation {
      display: none; } }

.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-right: 33px; }
  .navigation__list li {
    margin-left: 32px; }
  .navigation__list--user {
    margin-right: 34px; }

.navigation__link {
  text-decoration: none;
  outline: none;
  color: inherit;
  padding-bottom: 4px; }
  .navigation__link:not([href]) {
    font-weight: 700;
    border-bottom: 3px solid #ffc7eb; }

.navigation__user-profile {
  margin-right: 14px;
  margin-top: 2px;
  display: flex;
  flex-direction: row; }

.navigation__picture {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover; }

.navigation__scores {
  width: 40.38px;
  height: 40.12px;
  margin-right: -15px; }
  .navigation__scores::before {
    width: 36.34px;
    height: 36.1px; }

.promo__wrapper {
  min-height: 502px;
  display: flex;
  flex-direction: row;
  border: 1px solid #000000;
  margin-top: 50px;
  margin-bottom: 26px; }
  @media (max-width: 1199px) {
    .promo__wrapper {
      min-height: 402px;
      margin-top: 51px; } }
  @media (max-width: 1023px) {
    .promo__wrapper {
      margin-top: 34px;
      min-height: 321px; } }
  @media (max-width: 767px) {
    .promo__wrapper {
      min-height: 220px;
      margin-bottom: 119px; } }
  @media (max-width: 567px) {
    .promo__wrapper {
      margin-top: 26px;
      min-height: 290px;
      margin-bottom: 148px; } }

.promo__content {
  min-height: 220px;
  width: 500px;
  border: 1px solid #000000;
  align-self: flex-end;
  transform: translate3d(15px, 32px, 0);
  padding: 19px 25px;
  background-color: #ffffff; }
  .promo__content h2,
  .promo__content p {
    margin: 0; }
  .promo__content h2 {
    padding-bottom: 11px; }
  .promo__content p {
    padding-bottom: 32px;
    font-size: 20px;
    line-height: 28px; }
  @media (max-width: 1199px) {
    .promo__content {
      min-height: 207px;
      transform: translate3d(15px, 24px, 0);
      padding: 21px 22px; }
      .promo__content p {
        font-size: 18px;
        line-height: 25.2px; } }
  @media (max-width: 767px) {
    .promo__content {
      width: 322px;
      min-height: 186px;
      transform: translate3d(7px, 121px, 0);
      padding: 18px 15px; }
      .promo__content p {
        font-size: 12px;
        line-height: 16.8px;
        padding-bottom: 35px; } }
  @media (max-width: 567px) {
    .promo__content {
      width: 274px;
      transform: translate3d(7px, 151px, 0); } }

.promo__button {
  background-color: #ffc7eb; }
  @media (max-width: 567px) {
    .promo__button {
      padding: 13px 23px 14px; } }

.live-stream {
  margin-top: 77px; }
  .live-stream h2 {
    margin: 0;
    margin-bottom: 26px; }
  @media (max-width: 1199px) {
    .live-stream {
      margin-top: 141px; } }
  @media (max-width: 767px) {
    .live-stream {
      padding-top: 90px;
      margin-top: 0; }
      .live-stream h2 {
        margin-bottom: 17px; } }
  @media (max-width: 567px) {
    .live-stream {
      padding-top: 78px; } }

.live-stream__wrapper {
  min-height: 416px;
  border: 1px solid #000000; }
  @media (max-width: 1199px) {
    .live-stream__wrapper {
      min-height: 416px; } }
  @media (max-width: 1023px) {
    .live-stream__wrapper {
      min-height: 331px; } }
  @media (max-width: 767px) {
    .live-stream__wrapper {
      min-height: 229px; } }
  @media (max-width: 567px) {
    .live-stream__wrapper {
      min-height: 131px; } }

.card__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px; }
  @media (max-width: 1199px) {
    .card__list {
      gap: 26px; } }

.card__item {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 489px;
  justify-content: flex-end;
  border: 1px solid #000000; }
  .card__item h3,
  .card__item p {
    margin: 0; }
  .card__item h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 26.4px;
    padding-bottom: 8px; }
  @media (max-width: 1199px) {
    .card__item {
      min-height: 478px; }
      .card__item h3 {
        font-size: 22px;
        line-height: 24px; }
      .card__item p {
        font-size: 14px; } }
  @media (max-width: 767px) {
    .card__item h3 {
      font-size: 16px;
      line-height: 17.6px; }
    .card__item p {
      font-size: 12px;
      line-height: 16.8px; } }
  @media (max-width: 567px) {
    .card__item {
      width: 290px;
      justify-self: center; } }

.card__content {
  padding: 23px; }
  @media (max-width: 1199px) {
    .card__content {
      padding: 22px; } }
  @media (max-width: 767px) {
    .card__content {
      padding: 15px; } }

.card__scores {
  position: absolute;
  top: -16px;
  right: 6px;
  width: 64px;
  height: 64px;
  font-size: 20px;
  line-height: 64px; }
  .card__scores::before {
    width: 58px;
    height: 58px; }
  @media (max-width: 1199px) {
    .card__scores {
      top: -16px;
      right: 9px; } }

.tests__wrapper {
  margin-top: 118px; }
  @media (max-width: 767px) {
    .tests__wrapper {
      margin-top: 78px; } }

.tests h2 {
  margin: 0;
  padding-left: 7px; }
  @media (max-width: 1199px) {
    .tests h2 {
      padding-left: 1px; } }

.tests__list {
  margin-top: 26px; }
  @media (max-width: 1199px) {
    .tests__list {
      margin-top: 35px; } }
  @media (max-width: 1023px) {
    .tests__list {
      grid-template-columns: 1fr 1fr;
      margin-top: 34px;
      row-gap: 38px; } }
  @media (max-width: 767px) {
    .tests__list {
      margin-top: 24px;
      row-gap: 26px; } }
  @media (max-width: 567px) {
    .tests__list {
      grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
      row-gap: 22px; } }

.tests__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 49px; }

.tests__content--subscription {
  align-items: center;
  padding: 2px 29px 32px; }
  @media (max-width: 1199px) {
    .tests__content--subscription {
      padding: 9px 13px 31px; } }
  @media (max-width: 1023px) {
    .tests__content--subscription {
      padding: 9px 0 24px 18px;
      flex-grow: 1;
      align-items: flex-start; } }
  @media (max-width: 767px) {
    .tests__content--subscription {
      padding-left: 14px; } }

.tests__content--subscription h3 {
  padding-bottom: 12px;
  text-align: center; }
  @media (max-width: 1199px) {
    .tests__content--subscription h3 {
      padding: 12px 22px; } }
  @media (max-width: 1023px) {
    .tests__content--subscription h3 {
      padding: 12px 0;
      font-size: 22px;
      line-height: 24px;
      text-align: start; } }
  @media (max-width: 767px) {
    .tests__content--subscription h3 {
      font-size: 16px;
      line-height: 17.6px;
      padding: 16px 0 10px; } }
  @media (max-width: 567px) {
    .tests__content--subscription h3 {
      text-align: center;
      padding: 10px 32px 14px; } }

.tests__content--subscription p {
  padding: 0;
  padding-bottom: 32px;
  text-align: center; }
  @media (max-width: 1023px) {
    .tests__content--subscription p {
      padding-bottom: 23px;
      text-align: start; } }
  @media (max-width: 767px) {
    .tests__content--subscription p {
      padding-bottom: 32px; } }
  @media (max-width: 567px) {
    .tests__content--subscription p {
      text-align: center; } }

.tests__link {
  text-decoration: none;
  outline: none;
  color: inherit;
  background-color: #ffc7eb;
  margin-top: 42px; }
  @media (max-width: 1199px) {
    .tests__link {
      margin-top: 39px; } }
  @media (max-width: 767px) {
    .tests__link {
      margin-top: 33px; } }

.tests__item {
  margin-bottom: 42px; }
  @media (max-width: 1199px) {
    .tests__item {
      min-height: 432px;
      margin-bottom: 74px; } }
  @media (max-width: 1023px) {
    .tests__item {
      margin: 0;
      min-height: 480px; } }
  @media (max-width: 767px) {
    .tests__item {
      min-height: 369px; } }
  @media (max-width: 567px) {
    .tests__item {
      min-height: 407px; } }

.tests__item--subscription {
  min-height: 530px;
  background-color: #ffc7eb;
  margin-bottom: 0;
  padding-bottom: 15px;
  position: relative;
  justify-content: center; }
  @media (max-width: 1199px) {
    .tests__item--subscription {
      min-height: 505px; } }
  @media (max-width: 1023px) {
    .tests__item--subscription {
      grid-column: span 2;
      min-height: 198px;
      padding: 2px 47px 10px 29px;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      order: 1; } }
  @media (max-width: 767px) {
    .tests__item--subscription {
      padding: 0 32px 27px 19px; } }
  @media (max-width: 567px) {
    .tests__item--subscription {
      grid-column: span 1;
      flex-direction: column;
      margin-top: 16px; } }

.tests__picture--subscription {
  align-self: center;
  background-image: url("../img/pushkin.png");
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate3d(0, -22px, 0);
  width: 222px;
  height: 222px;
  position: relative; }
  .tests__picture--subscription::after {
    content: "Я вызываю вас на рассылку!";
    position: absolute;
    bottom: -6px;
    left: -20px;
    background-image: url("../img/quote.svg");
    background-repeat: no-repeat;
    width: 138px;
    height: 64px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
    padding: 10px 10px 10px 17px; }
  @media (max-width: 1199px) {
    .tests__picture--subscription {
      height: 180px;
      width: 180px; }
      .tests__picture--subscription::after {
        bottom: -27px;
        left: -29px; } }
  @media (max-width: 1023px) {
    .tests__picture--subscription {
      height: 166px;
      width: 166px;
      transform: translate3d(0, -30px, 0); }
      .tests__picture--subscription::after {
        bottom: -29px;
        left: -36px; } }
  @media (max-width: 767px) {
    .tests__picture--subscription {
      transform: translate3d(0, -59px, 0);
      width: 144px;
      height: 144px; }
      .tests__picture--subscription::after {
        width: 130px;
        height: 43px;
        font-size: 12px;
        line-height: 14px;
        padding: 8px 20px; } }
  @media (max-width: 567px) {
    .tests__picture--subscription {
      transform: translate3d(0, -26px, 0); } }

.tests__form--subscription {
  padding: 5px 0 2px;
  width: 100%;
  display: flex;
  flex-direction: column; }
  .tests__form--subscription input {
    padding: 4px 1px 9px;
    min-height: 48px;
    border: none;
    border-bottom: 1px solid #000000;
    background-color: transparent;
    margin-bottom: 23px;
    outline: none;
    width: 100%; }
  .tests__form--subscription button {
    background-color: #000000;
    color: #ffffff; }
  @media (max-width: 1199px) {
    .tests__form--subscription {
      padding: 5px 20px 2px; } }
  @media (max-width: 1023px) {
    .tests__form--subscription {
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
      padding: 0; }
      .tests__form--subscription input {
        margin-right: 21px;
        margin-bottom: 2px; }
      .tests__form--subscription button {
        padding: 14px 28px 15px; } }
  @media (max-width: 767px) {
    .tests__form--subscription {
      flex-direction: column;
      align-items: flex-start; }
      .tests__form--subscription input {
        margin: 0;
        padding-top: 4px;
        margin-bottom: 0; }
      .tests__form--subscription button {
        margin: 9px 0 0;
        padding: 16px 24px 15px; } }
  @media (max-width: 567px) {
    .tests__form--subscription button {
      margin-top: 24px;
      width: 100%; } }

.gifts {
  background-color: #00df88;
  margin-top: 121px;
  min-height: 792px; }
  @media (max-width: 1199px) {
    .gifts {
      min-height: 690px; } }
  @media (max-width: 1023px) {
    .gifts {
      min-height: 591px; } }
  @media (max-width: 767px) {
    .gifts {
      margin-top: 75px; } }

.gifts__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; }
  @media (max-width: 767px) {
    .gifts__wrapper {
      padding-bottom: 66px; } }

.gifts__content {
  padding: 33px 22px;
  color: #ffffff; }
  @media (max-width: 1023px) {
    .gifts__content {
      padding: 24px 12px; } }

.gifts h2 {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 5px; }
  @media (max-width: 1023px) {
    .gifts h2 {
      padding-top: 62px; } }
  @media (max-width: 767px) {
    .gifts h2 {
      padding-top: 39px; } }

.gifts p {
  padding: 0; }

.gifts__list {
  margin-top: 29px;
  padding-left: 3px;
  width: 100%; }
  @media (max-width: 767px) {
    .gifts__list {
      grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
      gap: 30px;
      margin-top: 19px; } }
  @media (max-width: 567px) {
    .gifts__list {
      grid-template-columns: 1fr;
      gap: 22px; } }

.gifts__item {
  background-color: #ffffff;
  min-height: 480px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%); }
  @media (max-width: 1199px) {
    .gifts__item {
      width: 290px;
      min-height: 389px;
      justify-self: center; } }
  @media (max-width: 1023px) {
    .gifts__item {
      width: 226px;
      min-height: 304px; } }
  @media (max-width: 767px) {
    .gifts__item {
      width: 240px;
      min-height: 323px; } }
  @media (max-width: 567px) {
    .gifts__item {
      width: 290px;
      min-height: 391px; } }

.gifts__item--kinopoisk {
  background-image: url("../img/kinopoisk.jpg");
  background-size: cover;
  position: relative; }
  @media (max-width: 1199px) {
    .gifts__item--kinopoisk p {
      font-size: 16px;
      line-height: 22.4px; } }

.gifts__more {
  align-self: center;
  margin-top: 40px;
  background-color: #00c97a; }
  @media (max-width: 1199px) {
    .gifts__more {
      margin-right: 23px; } }
  @media (max-width: 1023px) {
    .gifts__more {
      margin-right: 0; } }
  @media (max-width: 767px) {
    .gifts__more {
      margin-top: 21px; } }
  @media (max-width: 567px) {
    .gifts__more {
      margin-top: 52px; } }

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 376px;
  padding-top: 34px; }
  @media (max-width: 1199px) {
    .footer__wrapper {
      min-height: 409px;
      padding-top: 38px;
      padding-bottom: 36px; } }
  @media (max-width: 767px) {
    .footer__wrapper {
      min-height: 461px; } }

.footer__heading,
.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.footer__heading {
  align-items: flex-start; }

.footer__links {
  align-items: flex-end;
  margin-top: 22px; }
  @media (max-width: 1199px) {
    .footer__links {
      margin-top: 24px; } }
  @media (max-width: 767px) {
    .footer__links {
      flex-direction: column;
      align-items: flex-start; } }

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 28px;
  color: #999999; }
  .footer__list li {
    padding-top: 18px; }
  .footer__list p {
    margin: 0; }
  @media (max-width: 1199px) {
    .footer__list {
      padding-bottom: 7px; }
      .footer__list li {
        padding-top: 14px; }
      .footer__list a {
        font-size: 18px;
        line-height: 25.2px; } }

.footer__wrapper a {
  text-decoration: none;
  outline: none;
  color: inherit; }

.footer__link-scroll {
  min-height: 48px;
  background-color: #e6e6e6; }
  @media (max-width: 1023px) {
    .footer__link-scroll {
      margin-right: 7px; } }

.footer__link-create {
  padding-right: 5px; }
  @media (max-width: 1199px) {
    .footer__link-create {
      padding-right: 11px; } }
  @media (max-width: 767px) {
    .footer__link-create {
      margin-top: 32px; } }

.user-profile__wrapper {
  padding-top: 44px;
  padding-left: 16px; }

.user-profile__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 4px; }

.user-profile__picture-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
  flex-shrink: 0; }

.user-profile__picture {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover; }

.user-profile__total-scores {
  width: 88px;
  height: 88px;
  font-size: 20px;
  line-height: 24px;
  margin-top: -24px;
  outline: none;
  border: none; }
  .user-profile__total-scores::before {
    width: 80px;
    height: 80px; }

.user__profile__full-name {
  padding-left: 24px;
  display: flex;
  flex-direction: column; }
  .user__profile__full-name h2 {
    font-size: 64px;
    line-height: 76.8px;
    margin: 0; }
  .user__profile__full-name p {
    margin: 0;
    font-size: 20px;
    line-height: 28px;
    margin-left: -22px;
    padding-top: 26px; }

.user__profile__buttons {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  padding-top: 11px; }

.user-profile__change-profile {
  text-decoration: none;
  outline: none;
  color: inherit;
  margin-left: auto;
  margin-right: 16px; }

.user-profile__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 40px 0 0 7px;
  display: flex;
  flex-direction: column; }

.user-profile__block {
  margin-bottom: 39px; }

.user-profile__block--empty {
  padding-left: 40px;
  position: relative; }
  .user-profile__block--empty .user-profile__label {
    padding-bottom: 10px; }

.user-profile__label {
  font-size: 12px;
  line-height: 14px;
  color: #808080;
  margin: 0;
  padding-bottom: 8px; }

.user-profile__item {
  margin: 0; }

.user-profile__scores {
  position: absolute;
  bottom: -10px;
  left: 0; }

.user-profile__stepik {
  padding-top: 23px;
  padding-left: 4px; }

.user-profile__link-account {
  min-width: 204px;
  background-color: #ffc7eb;
  position: relative;
  padding: 13px; }
  .user-profile__link-account::before {
    position: absolute;
    content: "";
    background-image: url("../img/stepik.svg");
    background-repeat: no-repeat;
    right: -75px;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    height: 22px;
    width: 87px; }

.edit-profile {
  padding-top: 44px; }

.edit-profile__form-content {
  flex-basis: 50%; }
  .edit-profile__form-content fieldset {
    margin: 0;
    border: none;
    padding: 1px 100px 40px 6px; }

.edit-profile__picture-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 8px; }

.edit-profile__button {
  margin-left: 16px; }
  .edit-profile__button--save {
    background-color: #ffc7eb; }

.edit-profile__buttons {
  position: sticky;
  top: 0;
  padding-top: 15px; }

.edit-profile__form-wrapper {
  padding-left: 5px; }

.edit-profile__form {
  display: flex;
  flex-direction: row;
  align-items: flex-start; }

.edit-profile__form-title {
  font-family: "Inter", "Roboto", sans-serif;
  font-size: 24px;
  line-height: 26.4px;
  font-weight: 700;
  margin: 43px 0 12px; }
  .edit-profile__form-title--con {
    margin-bottom: 0; }

.edit-profile__form-item {
  position: relative; }

.edit-profile__scores {
  position: absolute;
  right: -54px;
  bottom: 0;
  transform: translateY(-12px); }
  .edit-profile__scores--textarea {
    top: 0;
    transform: translateY(22px); }

.edit-profile__checkbox {
  margin-top: 3px;
  margin-bottom: 16px; }

.user-gifts__wrapper h2 {
  margin: 0;
  margin-top: 104px;
  padding-top: 13px; }

.user-gifts__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-top: 28px; }

.user-gifts__item {
  display: flex;
  flex-direction: row;
  max-width: 1013px;
  min-height: 124px;
  border: 1px solid #000000;
  margin-bottom: 15px;
  padding-right: 23px; }
  .user-gifts__item img {
    width: 154px;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.user-gifts__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 24px; }
  .user-gifts__description h3 {
    padding-bottom: 12px;
    font-size: 20px;
    line-height: 24px;
    margin: 0; }
  .user-gifts__description p {
    padding-bottom: 53px;
    margin: 0; }

.user-gifts__copy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto; }

.service-connection__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 75px;
  min-height: 392px; }

.service-connection__wrapper h2 {
  margin: 0;
  padding-bottom: 27px; }

.service-connection__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(249px, 1fr));
  gap: 21px; }

.service-connection__item {
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 23px 19px 32px; }
  .service-connection__item--untie {
    padding-bottom: 25px; }
  .service-connection__item h3 {
    font-size: 24px;
    line-height: 26.4px;
    font-weight: 700;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 10px; }
  .service-connection__item p {
    padding-bottom: 30px;
    margin: 0; }

.service-connection__button {
  margin-top: auto; }
  .service-connection__button--bind {
    background-color: #ffc7eb; }
  .service-connection__button--untie {
    margin-top: 4px; }

.photo ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 32px; }

.photo li {
  border: 1px solid #000000;
  grid-column: span 2;
  min-height: 200px; }
  .photo li:first-of-type {
    grid-column: span 6; }
  .photo li:nth-of-type(2) {
    grid-column: span 4; }
  .photo li:nth-of-type(4), .photo li:nth-of-type(5) {
    grid-column: span 3; }

.form__item {
  width: 100%;
  border: none;
  border-bottom: 1px solid #000000;
  transition: 0.5s;
  line-height: 19.2px;
  padding-top: 28px;
  padding-bottom: 12px;
  padding-left: 0px;
  outline: none;
  min-height: 48px;
  margin-top: 28px; }
  .form__item--sign-up {
    margin-top: 18px; }
  .form__item--sign-in {
    margin-top: 14px; }

.form__item:-moz-placeholder-shown + label {
  font-size: 16px;
  transform: translate3d(0, -1.9rem, 0); }

.form__item:placeholder-shown + label {
  font-size: 16px;
  transform: translate3d(0, -1.9rem, 0); }

.form__item + label {
  display: block;
  color: #aaa;
  transition: 0.5s; }

.form__item:focus + label,
.form__item + label {
  font-size: 12px;
  line-height: 14px;
  transform: translate3d(0, -3.9rem, 0); }

.form__checkbox label {
  position: relative;
  font-size: 16px;
  line-height: 19.2px;
  padding-left: 23px; }
  .form__checkbox label::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid #808080;
    border-radius: 2px;
    top: 4%;
    left: 0; }

.form__checkbox > input:checked + label::before {
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.form__item--hobby:-moz-placeholder-shown {
  min-height: 144px;
  resize: none; }

.form__item--hobby,
.form__item--hobby:focus,
.form__item--hobby:placeholder-shown {
  min-height: 144px;
  resize: none; }

.form__item--hobby:-moz-placeholder-shown + label {
  transform: translate3d(0, -8.4rem, 0); }

.form__item--hobby:placeholder-shown + label {
  transform: translate3d(0, -8.4rem, 0); }

.form__item--hobby + label,
.form__item--hobby:focus + label {
  transform: translate3d(0, -9.4rem, 0); }

.invalid {
  color: #ff4000;
  border-color: #ff4000; }
  .invalid + label {
    color: #ff4000; }

.sign-up {
  display: none; }

.sign-in {
  display: none; }

.pop-up__content {
  width: 700px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate3d(-50%, 50%, 0);
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px 30.5px 0 40px; }

.sign-in__content {
  min-height: 544px;
  z-index: 5;
  background-color: #ffffff; }

.sign-up__content {
  min-height: 728px;
  justify-content: flex-start;
  z-index: 5;
  background-color: #ffffff; }

.pop-up__logo {
  margin-left: auto;
  transform: rotate(7.93deg);
  margin-top: -63px;
  margin-right: 22px;
  width: 142px;
  height: 117px; }

.pop-up__title {
  margin: -58px 0 7px; }

.sign-in__title {
  margin-bottom: 15px; }

.pop-up__title > span {
  position: relative; }
  .pop-up__title > span::before {
    position: absolute;
    content: "";
    top: 8px;
    left: 3px;
    background-image: url(../img/error.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 42px;
    z-index: 1; }

.sign-in__title > span::before {
  top: 8px;
  left: 3px;
  background-image: url(../img/error.svg);
  width: 40px;
  height: 42px; }

.sign-up__title {
  margin-bottom: 21px; }

.sign-up__title > span::before {
  background-image: url(../img/error-a.svg);
  top: -16px;
  left: -2px;
  width: 40px;
  height: 64px; }

.sign-up-description {
  margin: 0;
  padding: 0 83px 0 0;
  font-size: 20px;
  line-height: 28px; }
  .sign-up-description span {
    display: inline-flex; }

.sign-in__wrapper {
  display: flex;
  flex-direction: row; }

.sign-in__form {
  max-width: 301px;
  padding-bottom: 63px; }

.sign-up__form {
  max-width: 480px; }

.pop-up__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.pop-up__button {
  border-radius: 4px;
  background-color: #e6e6e6;
  margin-bottom: 16px; }
  .pop-up__button--in {
    background-color: #ffc7eb;
    min-width: 96px;
    margin-right: 16px; }
  .pop-up__button--recovery {
    text-decoration: none;
    outline: none;
    color: inherit;
    min-width: 189px; }
  .pop-up__button--create {
    flex-grow: 1;
    width: 100%; }
  .pop-up__button--reset {
    min-width: 128px; }

.sign-up__buttons {
  padding-top: 39px; }

.sign-in__buttons {
  padding-top: 26px; }

.sign-up__button--create {
  background-color: #ffc7eb;
  margin-right: 12px; }

.sign-in__present {
  text-decoration: none;
  outline: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 247px;
  height: 266.5px;
  background-image: url("../img/box.png");
  background-position: bottom;
  background-repeat: no-repeat;
  margin-left: auto;
  align-self: flex-end;
  padding-bottom: 100px; }
  .sign-in__present h3 {
    margin: 0;
    font-size: 16px;
    padding-bottom: 2px; }
  .sign-in__present p {
    margin: 0;
    padding-bottom: 38px;
    padding-right: 34px; }

.sign-up__agreement {
  margin-top: 25px; }

.more-points {
  position: absolute;
  max-width: 443px;
  min-height: 462px;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #ffc7eb;
  padding-top: 112px;
  padding-bottom: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/coin.png");
  background-repeat: no-repeat;
  background-position: top 22px left 36px;
  border: 1px solid #000000;
  box-shadow: 0px 10px 0px -5px #000000; }
  .more-points--close {
    display: none; }
  .more-points h2,
  .more-points p {
    margin: 0; }

.more-points__title {
  padding-bottom: 19px;
  font-size: 32px;
  line-height: 38.4px; }

.more-points__text {
  padding-right: 1em; }

.more-points__wrapper {
  padding-left: 1.6em;
  padding-right: 3.35em;
  font-size: 20px;
  line-height: 28px; }
